/* 자유게시판 목록 CSS 시작 */
.div_freeBoardDetail {
    width: 55%;
    margin: 5% auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    margin-bottom: 5%;
}

.table_freeBoardDetail {
    width: 100%;
}

.table_freeBoardDetail tr:hover {
    background-color: #ddd;
}

.table_freeBoardDetail tr:first-child {
    background-color: #your_color; /* 첫 번째 행에 원하는 색상을 지정하세요 */
}

.table_freeBoardDetail tr:not(:first-child) {
    background-color: #fff; /* 나머지 행은 흰색 배경 */
}

/* 자유게시판 버튼 div */
.div_boardform_button {
    margin: 1% auto;
    text-align: center; /* Center align the child elements */
}

.boardform_button {
    flex: 0.3;
    margin: auto;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 2%;
}

.boardform_button:hover {
    background-color: #ffffff;
    color: #000000;
}
/* 자유게시판 목록 CSS 끝 */
